.social-link-list {
    padding:0;
    list-style:none;
    padding:0;
    list-style:none
   }
   .social-link-list li {
    display:inline-block;
    vertical-align:middle
   }
   .social-link-list a {
    padding:.5em;
    text-shadow:none;
    background-image:none
   }
   #site-footer {
    icon:#fff;
    background-color:#298dc4
   }